.mbg{background-color:#F4F4F4;
	
	
}


											/*profile tab styling*/
				  
* {box-sizing: border-box}


/* Style the tab */
.tab {
    float: left;
    height: 300px;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}


																	/*cover*/
.stse-cover{height: 400px;
            position:relative;
			
}									  

.stse-img{height:400px;
         position:absolute;
		 
}               
/*overlay*/
.stse-ov{height: 400px;
             position: relative	; 
			 opacity:.3;
}
				  
.stse-ov-text{margin: 0;
              position: absolute;
			  top: 50%;
			  left:50%;
			  -ms-transform: translate(-50%, -50%);
			  transform: translate(-50%, -50%);
}				  